body {
	background: url('images/cucumber.jpg');
  background-size: 60px auto;


}

#banner h1{
background : rgba(183, 187, 189, 0.5);


}

#banner img {
 padding: 0px;
 height: auto;
 width: 25%;

}

#counter span {
	background-color: white;
	font-family: 'Big Shoulders Stencil Text', cursive;
}

.display img {
height: auto;
width: 30%;

}
.workarea {
	font-family: 'Big Shoulders Stencil Text', cursive;
}
